@import "tailwindcss";

body {
  @apply bg-black text-white antialiased;
}

html {
  scroll-behavior: smooth;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}